{% extends "base.html" %}
{% comment %} 
render the content either off of the context variable "content", or recieve it in the form of a block
provided by the template that extends this template

* To see a usecase of the content block, see any of the templates/registration/logout.html, password_reset_done.htm
* To see a usecase of the context variable rendering, see "dwitter/apps/tweets/views:index"
{% endcomment %} 
{% block page_content %}
  {% if content %}
    {{content}}
  {% else %}
  {% block content%} {%endblock%}
  {% endif %}
{% endblock %}